


    <nav class="navbar">
        <ul class="items">
            <!-- <div class="photo"><img class="bgphoto"src="assets/home1.jpg" alt=""></div> -->
            <li><a class="nav-items" href="#Ankita">Ankita</a></li>
            <li><a class="nav-items" href="#about">About</a></li>
            <li><a class="nav-items" href="#academics">Academics</a></li>
            <li><a class="nav-items" class="nav-items"href="#experience">Experiece</a></li>
            <li><a class="nav-items"href="#skills">Skills</a></li>
        </ul>
        <!-- <div class="search">
            <input type="text" placeholder="search here ">
            <button class="btn btn-sm">search</button>
        </div> -->
    </nav>
